* {
  background-color: rgb(236, 231, 221);
  color: rgb(66, 57, 57);
  font-family: "Irish Grover", serif;
}

#logo {
  font-family: "Irish Grover", serif;
  font-size: 5rem;
  color: rgb(131, 40, 40);
  margin: 0%;
}

header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 4rem;
}

a {
  text-decoration: none;
  justify-content: center;
}

.slider {
  position: relative;
  width: 1500px;
  height: 800px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: calc(100% * 3);
  animation: slideShow 20s infinite linear;
}

.img {
  width: 500px;
  object-fit: cover;
}

@keyframes slideShow {
  0% {
    transform: translateX(0%);
  }
  16.6% {
    transform: translateX(-500px);
  }
  33.3% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(-1500px);
  }
  66.6% {
    transform: translateX(-2000px);
  }
  83.3% {
    transform: translateX(-2500px);
  }
  100% {
    transform: translateX(-3000px);
  }
}
