* {
  background-color: rgb(236, 231, 221);
  color: rgb(66, 57, 57);
  font-family: "Irish Grover", serif;
}

#logo {
  font-family: "Irish Grover", serif;
  font-size: 5rem;
  color: rgb(131, 40, 40);
  margin: 0%;
}

header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 4rem;
}

a {
  text-decoration: none;
  justify-content: center;
}

@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.category-image {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
}

.category-image3 {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.bigpicture {
  grid-column: 1/3;
}

.clothes {
  height: 35rem;
}

@media screen and (min-width: 520px) {
  .category-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr;
  }
}
